
  <!-- header area -->
  <header class="header">

      <!-- header-top -->
      <div class="header-top">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-7">
                      <!-- <div class="header-top-left">
                          <div class="top-social">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-x-twitter"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          </div>
                          <div class="top-contact-info">
                              <ul>
                                  <li><a href="tel:+21234567897"><i class="far fa-phone-arrow-down-left"></i>+2 123
                                          4567 897</a></li>
                                  <li><a href="/cdn-cgi/l/email-protection#dbb2b5bdb49bbea3bab6abb7bef5b8b4b6"><i
                                              class="far fa-envelopes"></i><span class="__cf_email__" data-cfemail="8fe6e1e9e0cfeaf7eee2ffe3eaa1ece0e2">[email&#160;protected]</span></a></li>
                              </ul>
                          </div>
                      </div> -->
                  </div>
                  <div class="col-md-5">
                      <div class="header-top-right">
                          <!-- <div class="lang">
                              <select name="lang" class="select">
                                  <option value="1">ENG</option>
                                  <option value="2">RUS</option>
                                  <option value="3">ROM</option>
                                  <option value="4">FRA</option>
                                  <option value="5">ESP</option>
                                  <option value="6">POR</option>
                              </select>
                          </div>
                          <div class="currency">
                              <select name="currency" class="select">
                                  <option value="1">USD</option>
                                  <option value="2">EUR</option>
                                  <option value="3">AUD</option>
                                  <option value="4">BRL</option>
                                  <option value="5">CAD</option>
                                  <option value="6">MXN</option>
                              </select>
                          </div> -->
                          <div class="account">
                              <a href="login.html"><i class="far fa-sign-in"></i>Login</a>
                              <a href="register.html"><i class="far fa-user-tie"></i>Sign Up</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- header-top end -->

      <!-- navbar -->
      <div class="main-navigation">
          <nav class="navbar navbar-expand-lg">
              <div class="container">
                  <a class="navbar-brand" href="index.html">
                      <img src="assets/img/logo/logo.png" class="logo-display" alt="logo">
                      <img src="assets/img/logo/logo.png" class="logo-scrolled" alt="logo">
                  </a>
                  <div class="mobile-menu-right">
                      <div class="header-account">
                          <div class="dropdown">
                              <div data-bs-toggle="dropdown" aria-expanded="false">
                                  <img src="https://e7.pngegg.com/pngimages/636/819/png-clipart-computer-icons-privacy-policy-admin-icon-copyright-rim.png" alt="">
                              </div>
                              <ul class="dropdown-menu dropdown-menu-end">
                                  <li><a class="dropdown-item" href="dashboard.html"><i class="far fa-gauge-high"></i> Dashboard</a></li>
                                  <li><a class="dropdown-item" href="profile.html"><i class="far fa-user"></i> Clientes</a></li>
                                  <li><a class="dropdown-item" href="profile-booking.html"><i class="far fa-shopping-bag"></i> Proveedores</a></li>
                                  <li><a class="dropdown-item" href="profile-booking-history.html"><i class="far fa-clipboard-list"></i> Solicitudes de servicio</a></li>
                                  <li><a class="dropdown-item" href="profile-setting.html"><i class="far fa-cog"></i> Ajustes</a></li>
                                  <li><a class="dropdown-item" href="#"><i class="far fa-sign-out"></i> Salir</a></li>
                              </ul>
                          </div>
                      </div>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                          data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-btn-icon"><i class="far fa-bars"></i></span>
                      </button>
                  </div>
                  <div class="collapse navbar-collapse" id="main_nav">
                      <!-- <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown">Home</a>
                              <ul class="dropdown-menu fade-down">
                                  <li><a class="dropdown-item" href="index.html">Home One</a></li>
                                  <li><a class="dropdown-item" href="index-2.html">Home Two</a></li>
                                  <li><a class="dropdown-item" href="index-3.html">Home Three</a></li>
                                  <li><a class="dropdown-item" href="index-4.html">Home Flight</a></li>
                                  <li><a class="dropdown-item" href="index-5.html">Home Hotel</a></li>
                                  <li><a class="dropdown-item" href="index-6.html">Home Activity</a></li>
                                  <li><a class="dropdown-item" href="index-7.html">Home Car</a></li>
                                  <li><a class="dropdown-item" href="index-8.html">Home Cruise</a></li>
                                  <li><a class="dropdown-item" href="index-9.html">Home Tour</a></li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Flight</a>
                              <ul class="dropdown-menu fade-down">
                                  <li><a class="dropdown-item" href="flight-grid.html">Flight Grid</a></li>
                                  <li><a class="dropdown-item" href="flight-list.html">Flight List</a></li>
                                  <li><a class="dropdown-item" href="flight-full-width.html">Flight Full Width</a>
                                  </li>
                                  <li><a class="dropdown-item" href="flight-single.html">Flight Details</a></li>
                                  <li><a class="dropdown-item" href="flight-booking.html">Flight Booking</a></li>
                                  <li><a class="dropdown-item" href="flight-search-result.html">Flight Search
                                          Result</a></li>
                                  <li><a class="dropdown-item" href="flight-add.html">Add Flight</a></li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Hotel</a>
                              <ul class="dropdown-menu fade-down">
                                  <li><a class="dropdown-item" href="hotel-grid.html">Hotel Grid</a></li>
                                  <li><a class="dropdown-item" href="hotel-list.html">Hotel List</a></li>
                                  <li><a class="dropdown-item" href="hotel-full-width.html">Hotel Full Width</a></li>
                                  <li class="dropdown-submenu">
                                      <a class="dropdown-item dropdown-toggle" href="#">Hotel Room</a>
                                      <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="hotel-room-grid.html">Room Grid</a></li>
                                          <li><a class="dropdown-item" href="hotel-room-list.html">Room List</a></li>
                                          <li><a class="dropdown-item" href="hotel-room-full-width.html">Room Full
                                                  Width</a></li>
                                          <li><a class="dropdown-item" href="hotel-room-single.html">Room Details</a>
                                          </li>
                                          <li><a class="dropdown-item" href="hotel-room-search-result.html">Room
                                                  Search Result</a></li>
                                          <li><a class="dropdown-item" href="hotel-room-add.html">Add Room</a></li>
                                      </ul>
                                  </li>
                                  <li><a class="dropdown-item" href="hotel-single.html">Hotel Details</a></li>
                                  <li><a class="dropdown-item" href="hotel-booking.html">Hotel Booking</a></li>
                                  <li><a class="dropdown-item" href="hotel-search-result.html">Hotel Search Result</a>
                                  </li>
                                  <li><a class="dropdown-item" href="hotel-add.html">Add Hotel</a></li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                              <div class="dropdown-menu mega-menu fade-down">
                                  <div class="row">
                                      <div class="col-lg-3">
                                          <ul>
                                              <li><a class="dropdown-item" href="destination.html">Destination</a>
                                              </li>
                                              <li><a class="dropdown-item" href="career.html">Career</a></li>
                                              <li><a class="dropdown-item" href="career-single.html">Career
                                                      Details</a></li>
                                              <li><a class="dropdown-item" href="become-expert.html">Become An
                                                      Expert</a></li>
                                              <li><a class="dropdown-item" href="cart.html">My Cart</a></li>
                                              <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                                              <li><a class="dropdown-item" href="booking-confirm.html">Booking
                                                      Confirm</a></li>
                                              <li><a class="dropdown-item" href="login.html">Login</a></li>
                                              <li><a class="dropdown-item" href="register.html">Sign Up</a></li>
                                          </ul>
                                      </div>
                                      <div class="col-lg-3">
                                          <ul>
                                              <li><a class="dropdown-item" href="forgot-password.html">Forgot
                                                      Password</a></li>
                                              <li><a class="dropdown-item" href="dashboard.html">Dashboard</a></li>
                                              <li><a class="dropdown-item" href="profile.html">My Profile</a></li>
                                              <li><a class="dropdown-item" href="profile-listing.html">My Listing</a>
                                              </li>
                                              <li><a class="dropdown-item" href="profile-booking.html">My Booking</a>
                                              </li>
                                              <li><a class="dropdown-item" href="profile-booking-history.html">My
                                                      Booking History</a></li>
                                              <li><a class="dropdown-item" href="profile-wishlist.html">My
                                                      Wishlist</a></li>
                                              <li><a class="dropdown-item" href="profile-wallet.html">My Wallet</a>
                                              </li>
                                              <li><a class="dropdown-item" href="profile-message.html">Messages</a>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="col-lg-3">
                                          <ul>
                                              <li><a class="dropdown-item"
                                                      href="profile-notification.html">Notifications</a></li>
                                              <li><a class="dropdown-item" href="profile-setting.html">Settings</a>
                                              </li>
                                              <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                              <li><a class="dropdown-item" href="pricing.html">Pricing Plan</a></li>
                                              <li><a class="dropdown-item" href="team.html">Our Team</a></li>
                                              <li><a class="dropdown-item" href="service.html">Services</a></li>
                                              <li><a class="dropdown-item" href="service-single.html">Service
                                                      Single</a></li>
                                              <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                                              <li><a class="dropdown-item" href="contact.html">Contact Us</a></li>
                                          </ul>
                                      </div>
                                      <div class="col-lg-3">
                                          <ul>
                                              <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                              <li><a class="dropdown-item" href="blog-single.html">Blog Single</a>
                                              </li>
                                              <li><a class="dropdown-item" href="faq.html">Faq's</a></li>
                                              <li><a class="dropdown-item" href="testimonial.html">Testimonials</a>
                                              </li>
                                              <li><a class="dropdown-item" href="404.html">404 Error</a></li>
                                              <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
                                              </li>
                                              <li><a class="dropdown-item" href="terms.html">Terms Of Service</a></li>
                                              <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Activity</a>
                              <ul class="dropdown-menu fade-down">
                                  <li><a class="dropdown-item" href="activity-grid.html">Activity Grid</a></li>
                                  <li><a class="dropdown-item" href="activity-list.html">Activity List</a></li>
                                  <li><a class="dropdown-item" href="activity-full-width.html">Activity Full Width</a>
                                  </li>
                                  <li><a class="dropdown-item" href="activity-single.html">Activity Details</a></li>
                                  <li><a class="dropdown-item" href="activity-booking.html">Activity Booking</a></li>
                                  <li><a class="dropdown-item" href="activity-search-result.html">Activity Search
                                          Result</a></li>
                                  <li><a class="dropdown-item" href="activity-add.html">Add Activity</a></li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Car</a>
                              <ul class="dropdown-menu fade-down">
                                  <li><a class="dropdown-item" href="car-grid.html">Car Grid</a></li>
                                  <li><a class="dropdown-item" href="car-list.html">Car List</a></li>
                                  <li><a class="dropdown-item" href="car-full-width.html">Car Full Width</a></li>
                                  <li><a class="dropdown-item" href="car-single.html">Car Details</a></li>
                                  <li><a class="dropdown-item" href="car-booking.html">Car Booking</a></li>
                                  <li><a class="dropdown-item" href="car-search-result.html">Car Search Result</a>
                                  </li>
                                  <li><a class="dropdown-item" href="car-add.html">Add Car</a></li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Cruise</a>
                              <ul class="dropdown-menu fade-down">
                                  <li><a class="dropdown-item" href="cruise-grid.html">Cruise Grid</a></li>
                                  <li><a class="dropdown-item" href="cruise-list.html">Cruise List</a></li>
                                  <li><a class="dropdown-item" href="cruise-full-width.html">Cruise Full Width</a>
                                  </li>
                                  <li><a class="dropdown-item" href="cruise-single.html">Cruise Details</a></li>
                                  <li><a class="dropdown-item" href="cruise-booking.html">Cruise Booking</a></li>
                                  <li><a class="dropdown-item" href="cruise-search-result.html">Cruise Search
                                          Result</a></li>
                                  <li><a class="dropdown-item" href="cruise-add.html">Add Cruise</a></li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Tour</a>
                              <ul class="dropdown-menu fade-down">
                                  <li><a class="dropdown-item" href="tour-grid.html">Tour Grid</a></li>
                                  <li><a class="dropdown-item" href="tour-list.html">Tour List</a></li>
                                  <li><a class="dropdown-item" href="tour-full-width.html">Tour Full Width</a></li>
                                  <li><a class="dropdown-item" href="tour-single.html">Tour Details</a></li>
                                  <li><a class="dropdown-item" href="tour-booking.html">Tour Booking</a></li>
                                  <li><a class="dropdown-item" href="tour-search-result.html">Tour Search Result</a>
                                  </li>
                                  <li><a class="dropdown-item" href="tour-add.html">Add Tour</a></li>
                              </ul>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                      </ul> -->
                      <div class="header-nav-right">
                          <div class="header-account">
                              <div class="dropdown">
                                  <div data-bs-toggle="dropdown" aria-expanded="false">
                                      <img src="https://e7.pngegg.com/pngimages/636/819/png-clipart-computer-icons-privacy-policy-admin-icon-copyright-rim.png" alt="">
                                  </div>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                      <li><a class="dropdown-item" href="dashboard.html"><i class="far fa-gauge-high"></i> Dashboard</a></li>
                                      <li><a class="dropdown-item" href="profile.html"><i class="far fa-user"></i> Clientes</a></li>
                                      <li><a class="dropdown-item" href="profile-booking.html"><i class="far fa-shopping-bag"></i> Proveedores</a></li>
                                      <li><a class="dropdown-item" href="profile-booking-history.html"><i class="far fa-clipboard-list"></i> Solicitudes de servicio</a></li>
                                      <li><a class="dropdown-item" href="profile-setting.html"><i class="far fa-cog"></i> Ajustes</a></li>
                                      <li><a class="dropdown-item" href="#"><i class="far fa-sign-out"></i> Salir</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
      <!-- navbar end -->

  </header>
  <!-- header area end -->

